@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;1,300&family=Newsreader:wght@300;400&family=Piazzolla&family=Sora:wght@700&display=swap');

/* We like cool typography now */
$dont-be-so-bold: 'Sora', 'Helvetica', sans-serif;
$got-some-fancy-text: 'Newsreader', 'Times', 'Times New Roman', serif;
$old-school-body: 'Crimson Pro', 'Times', 'Times New Roman', serif;
$italian-pizza-text: 'Piazzolla', 'Times', 'Times New Roman', serif;
$light: 300;
$regular: 400;
$bold: 600;

/* Colors add sophistication */
$paint-it-black: #251C1C;
$heavy-metal-grey: #9B9797;
$silver-grey: #C4C4C4;
$clouds-of-grey: #F7F7F7;
$fiery-red: #E53D08;
$mighty-red: #FCEAE4;
$cerulean-blue: #3870FF;
$azalea-green: #2BDAA5;
$lemony-yellow: #F5CF07;

/* Scales are elegant */
$mega: 224px;
$sublargest: 171px;
$humongous: 131px;
$collosal: 76px;
$grand: 54px;
$elegant: 45px;
$larger: 34px;
$typical: 26px;
$compact: 20px;
$petite: 15px;

/* Container */
#container {
  margin: 0;
  padding: 0 $typical;
}

.column--indent {
  margin-left: $collosal;
}

.column--indent--description {
  max-width: 50vw;
}

/* Typography */
h1 {
  font-family: $dont-be-so-bold;
  font-size: $mega;
  line-height: 1;
  letter-spacing: -13px;
  text-transform: lowercase;
  color: $fiery-red;
}

h2 {
  font-family: $dont-be-so-bold;
  font-size: $humongous;
  line-height: 1;
  letter-spacing: -7px;
  color: $fiery-red;
  margin: $collosal 0 $collosal $humongous;
  width: 75vw;
}

h3 {
  font-family: $italian-pizza-text;
  font-size: $elegant;
  line-height: 1;
  color: $paint-it-black;
  letter-spacing: -2px;
  margin-left: 25vw;
  margin-bottom: $elegant;
  width: 50vw;
}
h4 {}
h5 {}

body {
  background: $clouds-of-grey;
  font-family: $old-school-body;
  font-size: $typical;
  font-weight: $light;
  line-height: 1.45;
  letter-spacing: -0.25px;
  color: $paint-it-black;
}

ul {}
ol {}
img {}
button {}
table {}

/* Menu */
.menu {
  margin-top: $elegant;
}
.menu a {
  text-decoration: none;
  color: $clouds-of-grey;
}

.menu a:hover {
  color: $fiery-red;
}

.menu--item {
  font-family: $dont-be-so-bold;
  font-size: $mega;
  line-height: 0.8;
  letter-spacing: -13px;
  text-transform: lowercase;
  text-shadow:
    -1px -1px 0 $fiery-red,
     0   -1px 0 $fiery-red,
     1px -1px 0 $fiery-red,
     1px  0   0 $fiery-red,
     1px  1px 0 $fiery-red,
     0    1px 0 $fiery-red,
    -1px  1px 0 $fiery-red,
}

.menu--item--projects:hover:after {
   content: url(/assets/images/site/technologist.png);
   display: inline-block;
   margin-left: 24px;
   height: 120px;
}

.menu--item--notes:hover:after {
   content: url(/assets/images/site/note.png);
   display: inline-block;
   margin-left: 24px;
   height: 120px;
}

.menu--item--about:hover:after {
   content: url(/assets/images/site/mirror.png);
   display: inline-block;
   margin-left: 24px;
   height: 120px;
}

.menu--item--damn:hover:after {
   content: url(/assets/images/site/rocket.png);
   display: inline-block;
   margin-left: 24px;
   height: 120px;
}

/* Navigation */
#navigation {
  height: $collosal;
  padding: $compact 0;
}
#navigation a {
  font-family: $got-some-fancy-text;
  font-size: $typical;
  font-weight: $light;
  text-transform: lowercase;
  text-decoration: none;
  color: $heavy-metal-grey;
}

#navigation a:hover {
  color: $paint-it-black;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.navigation--previous {
  float: left;
  text-align: left;
}

.navigation--next {
  float: right;
  text-align: right;
}

/* Footer */
#footer {
  margin: $typical 0;
}

.smallest--copy {
  font-family: $italian-pizza-text;
  font-size: $petite;
  line-height: 1;
  color: $paint-it-black;
  text-align: center;
}

/* Pages */
.content--detail {
  margin-bottom: $humongous;
}

.content--detail p {
  margin-left: 25vw;
  max-width: 47.5vw;
}

.content--detail p a {
  text-decoration: none;
  color: $fiery-red;
  background: $mighty-red;
  padding: 4px 4px;
  border-radius: 2px;
}

.content--detail p a:hover {
  text-decoration: underline;
  text-decoration-skip: ink;
}

.content--detail ul {
  margin-top: $grand;
  margin-bottom: $grand;
  margin-left: 24.5vw;
  max-width: 45vw;
}

.content--detail ol {
  margin-top: $grand;
  margin-bottom: $grand;
  margin-left: 24.5vw;
  max-width: 45vw;
}

.content--detail li {
  margin-top: 16px;
}

.content--detail table {
  font-family: $old-school-body;
  font-size: $compact;
  text-align: left;
  margin-left: 25vw;
  max-width: 50vw;
}

.content--detail th {
  background: $mighty-red;
  border-radius: 2px;
  padding: 4px 12px;
  min-width: $sublargest;
}

.content--detail img {
  width: 70vw;
  margin-top: $collosal;
  margin-left: -12vw;
}

.image--description {
  font-family: $italian-pizza-text;
  font-size: $petite;
  color: $paint-it-black;
  max-width: 70vw;
  margin-top: -20px;
  margin-left: 13vw;
  margin-bottom: $collosal;
}

.chapter--next {}

  .chapter--next:hover {
    text-decoration: underline;
    text-decoration-skip: ink;
  }

.page--title {
  margin: 0 $humongous $typical $humongous;
}

.note--subtitle {
  font-family: $got-some-fancy-text;
  font-size: $elegant;
  color: $silver-grey;
  letter-spacing: -2px;
  text-transform: lowercase;
  margin: 0 0 $petite $humongous;
}

.introduction {
  font-family: $got-some-fancy-text;
  font-size: $elegant;
  font-weight: $light;
  line-height: 1.1;
  letter-spacing: -1px;
  color: $paint-it-black;
  margin: 0 0 $humongous $humongous;
  max-width: 50vw;
}

/* Notes */
.all--notes {
  margin: 0;
  list-style: none;
}
.all--notes a {
  text-decoration: none;
}
.cards--notes {
  margin: 0 0 $collosal 0;
  padding: 0;
}
.cards--notes--title {
  font-family: $dont-be-so-bold;
  font-size: $humongous;
  line-height: 1;
  letter-spacing: -10px;
  margin: 0;
}

.cards--notes--title a {
  color: $paint-it-black;
}

.cards--notes--title a:hover {
  color: $fiery-red;
  text-decoration: underline;
  text-decoration-skip: ink;
}

.cards--notes--description {
  font-family: $got-some-fancy-text;
  font-size: $typical;
  font-weight: $regular;
  color: $paint-it-black;
}

.note--title {
  font-family: $dont-be-so-bold;
  font-size: $sublargest;
  line-height: 1;
  letter-spacing: -10px;
  text-transform: lowercase;
  color: $fiery-red;
  margin: 0 0 $typical $humongous;
}

@media screen and (min-width: 1921px) {
  #container {
    margin: 0vw 25vw;
    max-width: 49vw;
  }

  h2 {
    margin-left: 0;
  }

  h3 {
    margin-left: 8vw;
  }

  .page--title {
    margin-left: 0;
  }

  .introduction {
    margin-left: 0;
    max-width: 100%
  }

  .content--detail p {
    margin: 0 8vw;
    max-width: 100%;
  }

  .content--detail img {
    width: 120%;
    margin-left: -10%;
  }

  .image--description {
    max-width: 100%;
    margin-top: 0;
    margin-left: 8vw;
  }

  .content--detail table {
    margin-left: 8vw;
  }
}

@media screen and (min-width: 412px) and (max-width: 1000px) {
  #container {
    padding: 0 $petite;
    max-width: 99vw;
  }

  #navigation {
    height: $collosal;
    padding: $compact 0;
  }

  #navigation a {
    font-size: $typical;
  }

  h1 {
    font-size: $humongous;
    letter-spacing: -4px;
    overflow-wrap: break-word;
  }

  h2 {
    font-size: $collosal;
    line-height: 0.9;
    letter-spacing: -4px;
    margin: $collosal 0 $larger $grand;
    width: 85vw;
    overflow-wrap: break-word;
  }

  h3 {
    font-size: $elegant;
    letter-spacing: 0;
    margin-left: $grand;
    margin-top: $elegant;
    margin-bottom: $petite;
    width: 100%;
    overflow-wrap: break-word;
  }

  body {
    font-size: $typical;
    line-height: 1.4;
    letter-spacing: -0.125px;
    margin: 0 0 0 0;
  }

  .menu {
    margin-top: $petite;
  }

  .menu--item {
    font-size: $humongous;
    letter-spacing: -4px;
  }

  .menu--item--projects:hover:after {
     content: url(/assets/images/site/technologist-84.png);
     margin-left: 24px;
     height: 84px;
  }

  .menu--item--notes:hover:after {
     content: url(/assets/images/site/note-84.png);
     margin-left: 24px;
     height: 84px;
  }

  .menu--item--about:hover:after {
     content: url(/assets/images/site/mirror-84.png);
     margin-left: 24px;
     height: 84px;
  }

  .menu--item--damn:hover:after {
     content: url(/assets/images/site/rocket-84.png);
     margin-left: 24px;
     height: 84px;
  }

  .page--title {
    margin: 0 0 $compact $grand;
  }

  .introduction {
    font-size: $larger;
    margin: $petite 0 0 $grand;
    max-width: 75vw;
  }

  .all--notes {
    margin: $grand 0;
    list-style: none;
  }

  .cards--notes {
    margin: $elegant 0 0 0;
  }

  .cards--notes--title {
    font-size: $collosal;
    line-height: 1.1;
    letter-spacing: -3px;
    margin-bottom: 8px;
  }

  .cards--notes--description {
    font-size: $compact;
    font-weight: $regular;
    margin: 0 0 0 0;
  }

  .note--title {
    font-size: $humongous;
    letter-spacing: -8px;
    margin: 0 0 0 $grand;
  }

  .note--subtitle {
    font-size: $larger;
    letter-spacing: -1px;
    margin: 0 0 0 $grand;
  }

  .content--detail {
    margin-bottom: $collosal;
  }

  .content--detail p {
    margin-left: $grand;
    max-width: 80vw;
  }

  .content--detail img {
    width: 100%;
    margin-top: 4px;
    margin-left: 0;
  }

  .image--description {
    font-size: $petite;
    max-width: 70vw;
    margin-top: -16px;
    margin-left: $grand;
    margin-bottom: 4px;
  }

  .content--detail ul {
    margin-top: $compact;
    margin-bottom: $typical;
    line-height: 1.3;
    margin-left: $grand;
    max-width: 70vw;
  }

  .content--detail ol {
    margin-top: $compact;
    margin-bottom: $typical;
    line-height: 1.2;
    margin-left: $grand;
    max-width: 70vw;
  }

  .content--detail table {
    margin-left: $grand;
  }

  .content--detail th {
    margin-left: $grand;
  }

}
@media screen and (max-width: 411px) and (orientation: portrait) {
  #container {
    padding: 0 $petite;
    max-width: 99vw;
  }

  #navigation {
    height: $elegant;
    padding: $petite 0;
  }

  #navigation a {
    font-size: $compact;
  }

  h1 {
    font-size: $collosal;
    letter-spacing: -4px;
    overflow-wrap: break-word;
  }

  h2 {
    font-size: $elegant;
    line-height: 0.9;
    letter-spacing: -2px;
    margin: $elegant 0 0 0;
    width: 95vw;
    overflow-wrap: break-word;
  }

  h3 {
    font-size: $typical;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: $larger;
    margin-bottom: -8px;
    width: 100%;
    overflow-wrap: break-word;
  }

  body {
    font-size: $compact;
    line-height: 1.4;
    letter-spacing: -0.125px;
    margin: 0 0 0 0;
  }

  .menu {
    margin-top: $petite;
  }

  .menu--item {
    font-size: $collosal;
    letter-spacing: -4px;
  }

  .menu--item--projects:hover:after {
     content: url(/assets/images/site/technologist-48.png);
     margin-left: 12px;
     height: 48px;
  }

  .menu--item--notes:hover:after {
     content: url(/assets/images/site/note-48.png);
     margin-left: 12px;
     height: 48px;
  }

  .menu--item--about:hover:after {
     content: url(/assets/images/site/mirror-48.png);
     margin-left: 12px;
     height: 48px;
  }

  .menu--item--damn:hover:after {
     content: url(/assets/images/site/rocket-48.png);
     margin-left: 12px;
     height: 48px;
  }

  .page--title {
    margin: 0 0 $compact 0;
  }

  .introduction {
    font-size: $typical;
    font-weight: $light;
    letter-spacing: -0.5px;
    margin: $petite 0 0 0;
    max-width: 99vw;
  }

  .all--notes {
    margin: $elegant 0;
    list-style: none;
  }

  .cards--notes {
    margin: $compact 0 0 0;
  }

  .cards--notes--title {
    font-size: $larger;
    line-height: 1.1;
    letter-spacing: -2px;
    margin-bottom: 8px;
  }

  .cards--notes--description {
    font-size: $compact;
    font-weight: $regular;
    margin: 0 0 0 0;
  }

  .note--title {
    font-size: $grand;
    letter-spacing: -4px;
    margin: 0 0 0 0;
  }

  .note--subtitle {
    font-size: $typical;
    letter-spacing: -1px;
    margin: 0 0 4px 0;
  }

  .content--detail {
    margin-bottom: $typical;
  }

  .content--detail p {
    margin-left: 0;
    max-width: 99vw;
  }

  .content--detail img {
    width: 100%;
    margin-top: 4px;
    margin-left: 0;
  }

  .image--description {
    font-size: 13px;
    max-width: 100%;
    margin-top: -16px;
    margin-left: 0;
    margin-bottom: 4px;
  }

  .content--detail ul {
    margin-top: $compact;
    margin-bottom: $compact;
    line-height: 1.2;
    margin-left: 0;
    max-width: 100%;
  }

  .content--detail ol {
    margin-top: $compact;
    margin-bottom: $compact;
    line-height: 1.2;
    margin-left: 0;
    max-width: 100%;
  }

  .content--detail li {
    margin-top: 12px;
  }

  .content--detail table {
    font-size: $petite;
    text-align: left;
    margin-left: 0;
    max-width: 100%;
    break-inside: auto;
  }

  .content--detail th {
    padding: 4px;
    min-width: $collosal;
    break-inside: auto;
  }
}
