@import url('https://rsms.me/inter/inter.css');

$backgroundColor: #ffffff;
$bodyColor: #111111;
$bodyFont: "Inter", Arial, sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  font-size: 16px;
}

#main {
  width: 70vw;
  margin: 0 15vw;
}

/** Typography **/
h1 {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -2px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 60px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 50px;
}

p {
line-height: 1.65;
margin: 0 0 25px 0;
}

/** URLs **/
a {
  color: #3100FF;
}

/** Navigation **/
#nav {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #dddddd;
  float: left;
}

  .nav-title {
    margin-top: 10px;
    float: left;
  }

  .menu-item {
    float: right;
    margin: 10px 0 0 25px;
  }

    .menu-item a {
      color: #111111;
      text-decoration: none;
    }

      .menu-item a:hover {
        border-bottom: .09em solid #111111;
        padding-bottom: 2px;
      }

/** Content **/
.main-content {
  float:left;
  margin: 250px 0;
}

  /** Content homepage **/
  .main-content-home li {
    list-style-type: none;
    margin: 40px 0;
  }

  .main-content-home ul {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    margin: 0 0 10px 40px;
  }

    .main-content-home ul:hover {
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
    }

      .main-content-home .reply {
        display: none
      }

        .main-content-home ul:hover .reply  {
          display: inline-block;
        }

      .main-content-home ul:hover .answer {
        display: none
      }

  .main-content-home-text {
    max-width: 35vw;
    min-width: 25vw;
  }

  /** Content overview **/
  .main-content-overview {
    float: left;
    margin: 60px 0;
  }

  .main-content-overview-posts {
    width: 70vw;
    padding: 25px 0 5px 0;
  }

    .main-content-overview-posts li {
      list-style-type: none;
      margin: 10px 0 0 0;
      padding: 20px 0;
      border-bottom: 1px solid #dddddd;
    }

      .main-content-overview-posts li:hover {
        border-bottom: 1px solid #111111;
      }

    .main-content-overview-posts a {
      color: #111111;
      text-decoration: none;
    }

    .main-content-overview-date {
      color: #999999;
      font-size: 12px;
      float: right;
    }

  /** Content blogs **/
  .main-content-blog {
    max-width: 45vw;
    max-width: 750px;
  }

    .main-content-blog ul {
      margin: 50px 0 30px 0;
    }

    .main-content-blog ol {
      margin: 50px 0 30px 0;
    }

      .main-content-blog li {
        padding-bottom: 20px;
      }

  /** Content tables **/
  .main-content-table {
    max-width: 100%;
    float: left;
    margin: 60px 0;
  }

    .main-content-table th {
      text-align: left;
    }

      .main-content-table tr {
        height: 80px;
      }

        .main-content-table td {
          padding-right: 20px;
          border-bottom: 1px solid #dddddd;
        }

/* Images */
img {
  max-width: 100%;
  margin: 20px 0;
}

/* For mobile devices */
@media only screen and (orientation: portrait) {
  #main {
    width: 90vw;
    margin: 0 5vw;
  }

  .main-content {
    margin: 125px 0;
  }

    .main-content-home-text {
      max-width: 85vw;
    }
    .main-content-home ul {
      background-color: #ffffff;
      border-radius: 4px;
      padding: 20px;
      margin: 0 0 10px 0px;
    }

  .main-content-overview-posts {
    width: 90vw;
  }

  .main-content-blog {
    max-width: 85vw;
  }

  #nav {
    width: 87.5vw;
    margin: 0;
  }
}
