body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 1.65;
  color: #374151;
  margin: 0;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1;
  color: #121212;
  margin: 48px 0 8px 0;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.15px;
  color: #121212;
  margin: 32px 0 12px 0;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #121212;
  margin: 24px 0 4px 0;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  color: #121212;
  margin: 24px 0 4px 0;
}

a {
  color: #121212;
}

p {
  margin: 0 0 24px 0;
  padding: 0;
}

li {
  margin: 8px 0;
}

img {
  max-width: 100%;
  margin: 24px 0 0 0;
  padding: 0;
  border-radius: 16px;
}

.image--description {
  font-size: 12px;
  line-height: 1.3;
  margin: -16px 0 40px 0;
  padding: 0;
}

.blog--date {
  font-size: 14px;
  margin: 16px 0 32px 0;
}

.cards--notes {
  list-style-type: square;
  margin: 0 0 24px 0;
  padding: 0 16px 0 0;
  border-radius: 8px;
}

.cards--notes--title {
  margin: 0;
}

.cards--notes--title a {
  font-weight: 500;
  color: #212121;
  text-decoration: none;
  margin: 0;
}

.cards--notes--description {
  margin: 0;
}

#container {
  margin: 16px auto 160px auto;
  width: 40%;
  max-width: 800px;
}

@media only screen and (max-width: 600px) {
  #container {
    margin: 16px 5% 32px 5%;
    width: 90%;
  }

  h1 {
    font-size: 40px;
    letter-spacing: -0.5px;
      margin: 24px 0 8px 0;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -0.25px;
    margin: 24px 0 4px 0;
  }

  h3 {
    margin: 4px 0 4px 0;
  }

  p {
    margin: 0 0 16px 0;
  }

  .blog--date {
    margin: 16px 0 16px 0;
  }

  img {
    margin: 8px 0 0 0;
  }

  .image--description {
    margin: -16px 0 24px 0;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1100px) {
  #container {
    margin: 16px 20% 160px 20%;
    width: 60%;
  }

  h1 {
    font-size: 52px;
    letter-spacing: -1px;
    margin: 32px 0 8px 0;
  }

  p {
    margin: 0 0 16px 0;
  }

  .blog--date {
    margin: 16px 0 24px 0;
  }

  .image--description {
    margin: -16px 0 32px 0;
  }
}

@media only screen and (min-width: 1101px) and (max-width: 1350px) {
  #container {
    margin: 16px 22.5% 160px 22.5%;
    width: 50%;
  }

  h1 {
    font-size: 56px;
    letter-spacing: -1.25px;
    margin: 40px 0 8px 0;
  }

  p {
    margin: 0 0 24px 0;
  }

  .blog--date {
    margin: 16px 0 32px 0;
  }

  img {
    margin: 16px 0 0 0;
  }

  .image--description {
    margin: -16px 0 32px 0;
  }
}
