@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,300;1,300&family=Newsreader:wght@300;400&family=Piazzolla&family=Sora:wght@700&display=swap");
/* We like cool typography now */
/* Colors add sophistication */
/* Scales are elegant */
/* Container */
#container { margin: 0; padding: 0 26px; }

/* Typography */
h1 { font-family: "Sora", "Helvetica", sans-serif; font-size: 224px; line-height: 1; letter-spacing: -13px; text-transform: lowercase; color: #E53D08; }

h2 { font-family: "Sora", "Helvetica", sans-serif; font-size: 131px; line-height: 1; letter-spacing: -7px; color: #E53D08; margin: 76px 0 76px 131px; width: 75vw; }

h3 { font-family: "Piazzolla", "Times", "Times New Roman", serif; font-size: 45px; line-height: 1; color: #251C1C; letter-spacing: -2px; margin-left: 25vw; margin-bottom: 45px; width: 50vw; }

body { background: #F7F7F7; font-family: "Crimson Pro", "Times", "Times New Roman", serif; font-size: 26px; font-weight: 300; line-height: 1.45; letter-spacing: -0.25px; color: #251C1C; }

/* Menu */
.menu { margin-top: 45px; }

.menu a { text-decoration: none; color: #F7F7F7; }

.menu a:hover { color: #E53D08; }

.menu--item { font-family: "Sora", "Helvetica", sans-serif; font-size: 224px; line-height: 0.8; letter-spacing: -13px; text-transform: lowercase; text-shadow: -1px -1px 0 #E53D08, 0 -1px 0 #E53D08, 1px -1px 0 #E53D08, 1px 0 0 #E53D08, 1px 1px 0 #E53D08, 0 1px 0 #E53D08, -1px 1px 0 #E53D08; }

.menu--item--projects:hover:after { content: url(/assets/images/site/technologist.png); display: inline-block; margin-left: 24px; height: 120px; }

.menu--item--notes:hover:after { content: url(/assets/images/site/note.png); display: inline-block; margin-left: 24px; height: 120px; }

.menu--item--about:hover:after { content: url(/assets/images/site/mirror.png); display: inline-block; margin-left: 24px; height: 120px; }

.menu--item--damn:hover:after { content: url(/assets/images/site/rocket.png); display: inline-block; margin-left: 24px; height: 120px; }

/* Navigation */
#navigation { height: 76px; padding: 20px 0; }

#navigation a { font-family: "Newsreader", "Times", "Times New Roman", serif; font-size: 26px; font-weight: 300; text-transform: lowercase; text-decoration: none; color: #9B9797; }

#navigation a:hover { color: #251C1C; text-decoration: underline; text-decoration-skip: ink; }

.navigation--previous { float: left; text-align: left; }

.navigation--next { float: right; text-align: right; }

/* Footer */
#footer { margin: 26px 0; }

.smallest--copy { font-family: "Piazzolla", "Times", "Times New Roman", serif; font-size: 15px; line-height: 1; color: #251C1C; text-align: center; }

/* Pages */
.content--detail { margin-bottom: 131px; }

.content--detail p { margin-left: 25vw; max-width: 47.5vw; }

.content--detail p a { text-decoration: none; color: #E53D08; background: #FCEAE4; padding: 4px 4px; border-radius: 2px; }

.content--detail p a:hover { text-decoration: underline; text-decoration-skip: ink; }

.content--detail ul { margin-top: 54px; margin-bottom: 54px; margin-left: 24.5vw; max-width: 45vw; }

.content--detail ol { margin-top: 54px; margin-bottom: 54px; margin-left: 24.5vw; max-width: 45vw; }

.content--detail li { margin-top: 16px; }

.content--detail table { font-family: "Crimson Pro", "Times", "Times New Roman", serif; font-size: 20px; text-align: left; margin-left: 25vw; max-width: 50vw; }

.content--detail th { background: #FCEAE4; border-radius: 2px; padding: 4px 12px; min-width: 171px; }

.content--detail img { width: 70vw; margin-top: 76px; margin-left: -12vw; }

.image--description { font-family: "Piazzolla", "Times", "Times New Roman", serif; font-size: 15px; color: #251C1C; max-width: 70vw; margin-top: -20px; margin-left: 13vw; margin-bottom: 76px; }

.chapter--next:hover { text-decoration: underline; text-decoration-skip: ink; }

.page--title { margin: 0 131px 26px 131px; }

.note--subtitle { font-family: "Newsreader", "Times", "Times New Roman", serif; font-size: 45px; color: #C4C4C4; letter-spacing: -2px; text-transform: lowercase; margin: 0 0 15px 131px; }

.introduction { font-family: "Newsreader", "Times", "Times New Roman", serif; font-size: 45px; font-weight: 300; line-height: 1.1; letter-spacing: -1px; color: #251C1C; margin: 0 0 131px 131px; max-width: 50vw; }

/* Notes */
.all--notes { margin: 0; list-style: none; }

.all--notes a { text-decoration: none; }

.cards--notes { margin: 0 0 76px 0; padding: 0; }

.cards--notes--title { font-family: "Sora", "Helvetica", sans-serif; font-size: 131px; line-height: 1; letter-spacing: -10px; margin: 0; }

.cards--notes--title a { color: #251C1C; }

.cards--notes--title a:hover { color: #E53D08; text-decoration: underline; text-decoration-skip: ink; }

.cards--notes--description { font-family: "Newsreader", "Times", "Times New Roman", serif; font-size: 26px; font-weight: 400; color: #251C1C; }

.note--title { font-family: "Sora", "Helvetica", sans-serif; font-size: 171px; line-height: 1; letter-spacing: -10px; text-transform: lowercase; color: #E53D08; margin: 0 0 26px 131px; }

@media screen and (min-width: 1921px) { #container { margin: 0vw 25vw; max-width: 49vw; }
  h1 { max-width: 100%; }
  h2 { margin-left: 0; max-width: 100%; }
  h3 { max-width: 100%; margin-left: 8vw; }
  .page--title { margin-left: 0; }
  .note--title { margin-left: 0; }
  .note--subtitle { margin-left: 0; }
  .introduction { margin-left: 0; max-width: 50%; }
  .content--detail p { margin-left: 8vw; margin-right: 8vw; max-width: 100%; }
  .content--detail img { width: 200%; margin-left: -50%; }
  .image--description { max-width: 30vw; margin-top: 0; margin-left: 8vw; }
  .content--detail ul { margin-left: 8vw; max-width: 100%; }
  .content--detail ol { margin-left: 8vw; max-width: 100%; }
  .content--detail table { margin-left: 8vw; } }

@media screen and (min-width: 412px) and (max-width: 1000px) { #container { padding: 0 15px; max-width: 99vw; }
  #navigation { height: 76px; padding: 20px 0; }
  #navigation a { font-size: 26px; }
  h1 { font-size: 131px; letter-spacing: -4px; overflow-wrap: break-word; }
  h2 { font-size: 76px; line-height: 0.9; letter-spacing: -4px; margin: 76px 0 34px 54px; width: 85vw; overflow-wrap: break-word; }
  h3 { font-size: 45px; letter-spacing: 0; margin-left: 54px; margin-top: 45px; margin-bottom: 15px; width: 100%; overflow-wrap: break-word; }
  body { font-size: 26px; line-height: 1.4; letter-spacing: -0.125px; margin: 0 0 0 0; }
  .menu { margin-top: 15px; }
  .menu--item { font-size: 131px; letter-spacing: -4px; }
  .menu--item--projects:hover:after { content: url(/assets/images/site/technologist-84.png); margin-left: 24px; height: 84px; }
  .menu--item--notes:hover:after { content: url(/assets/images/site/note-84.png); margin-left: 24px; height: 84px; }
  .menu--item--about:hover:after { content: url(/assets/images/site/mirror-84.png); margin-left: 24px; height: 84px; }
  .menu--item--damn:hover:after { content: url(/assets/images/site/rocket-84.png); margin-left: 24px; height: 84px; }
  .page--title { margin: 0 0 20px 54px; }
  .introduction { font-size: 34px; margin: 15px 0 0 54px; max-width: 75vw; }
  .all--notes { margin: 54px 0; list-style: none; }
  .cards--notes { margin: 45px 0 0 0; }
  .cards--notes--title { font-size: 76px; line-height: 1.1; letter-spacing: -3px; margin-bottom: 8px; }
  .cards--notes--description { font-size: 20px; font-weight: 400; margin: 0 0 0 0; }
  .note--title { font-size: 131px; letter-spacing: -8px; margin: 0 0 0 54px; }
  .note--subtitle { font-size: 34px; letter-spacing: -1px; margin: 0 0 0 54px; }
  .content--detail { margin-bottom: 76px; }
  .content--detail p { margin-left: 54px; max-width: 80vw; }
  .content--detail img { width: 100%; margin-top: 4px; margin-left: 0; }
  .image--description { font-size: 15px; max-width: 70vw; margin-top: -16px; margin-left: 54px; margin-bottom: 4px; }
  .content--detail ul { margin-top: 20px; margin-bottom: 26px; line-height: 1.3; margin-left: 54px; max-width: 70vw; }
  .content--detail ol { margin-top: 20px; margin-bottom: 26px; line-height: 1.2; margin-left: 54px; max-width: 70vw; }
  .content--detail table { margin-left: 54px; }
  .content--detail th { margin-left: 54px; } }

@media screen and (max-width: 411px) and (orientation: portrait) { #container { padding: 0 15px; max-width: 99vw; }
  #navigation { height: 45px; padding: 15px 0; }
  #navigation a { font-size: 20px; }
  h1 { font-size: 76px; letter-spacing: -4px; overflow-wrap: break-word; }
  h2 { font-size: 45px; line-height: 0.9; letter-spacing: -2px; margin: 45px 0 0 0; width: 95vw; overflow-wrap: break-word; }
  h3 { font-size: 26px; letter-spacing: 0; margin-left: 0; margin-top: 34px; margin-bottom: -8px; width: 100%; overflow-wrap: break-word; }
  body { font-size: 20px; line-height: 1.4; letter-spacing: -0.125px; margin: 0 0 0 0; }
  .menu { margin-top: 15px; }
  .menu--item { font-size: 76px; letter-spacing: -4px; }
  .menu--item--projects:hover:after { content: url(/assets/images/site/technologist-48.png); margin-left: 12px; height: 48px; }
  .menu--item--notes:hover:after { content: url(/assets/images/site/note-48.png); margin-left: 12px; height: 48px; }
  .menu--item--about:hover:after { content: url(/assets/images/site/mirror-48.png); margin-left: 12px; height: 48px; }
  .menu--item--damn:hover:after { content: url(/assets/images/site/rocket-48.png); margin-left: 12px; height: 48px; }
  .page--title { margin: 0 0 20px 0; }
  .introduction { font-size: 26px; font-weight: 300; letter-spacing: -0.5px; margin: 15px 0 0 0; max-width: 99vw; }
  .all--notes { margin: 45px 0; list-style: none; }
  .cards--notes { margin: 20px 0 0 0; }
  .cards--notes--title { font-size: 34px; line-height: 1.1; letter-spacing: -2px; margin-bottom: 8px; }
  .cards--notes--description { font-size: 20px; font-weight: 400; margin: 0 0 0 0; }
  .note--title { font-size: 54px; letter-spacing: -4px; margin: 0 0 0 0; }
  .note--subtitle { font-size: 26px; letter-spacing: -1px; margin: 0 0 4px 0; }
  .content--detail { margin-bottom: 26px; }
  .content--detail p { margin-left: 0; max-width: 99vw; }
  .content--detail img { width: 100%; margin-top: 4px; margin-left: 0; }
  .image--description { font-size: 13px; max-width: 100%; margin-top: -16px; margin-left: 0; margin-bottom: 4px; }
  .content--detail ul { margin-top: 20px; margin-bottom: 20px; line-height: 1.2; margin-left: 0; max-width: 100%; }
  .content--detail ol { margin-top: 20px; margin-bottom: 20px; line-height: 1.2; margin-left: 0; max-width: 100%; }
  .content--detail li { margin-top: 12px; }
  .content--detail table { font-size: 15px; text-align: left; margin-left: 0; max-width: 100%; break-inside: auto; }
  .content--detail th { padding: 4px; min-width: 76px; break-inside: auto; } }

/*# sourceMappingURL=main.css.map */