<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="ilse, l&#246;bker, lobker, design, vormgeving, ontwerp, concept, ux, ui, digital, creative, crossmedia, communication, designer, branding, copywriting, graphic, netherlands, portfolio, personal, website, blog">
    <meta name="description" content="A 26-year-old Crossmedia Designer from The Netherlands, currently living in Nijmegen.">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div id="main">
      {% include navigation.html %}

      <div class="main-content">
        <div class="main-content-home">
          <h1>So.</h1>

          <h2>You must be here because..</h2>

          <ul>
          <li><span class="answer">1 — You know me and want to know more about my online presence</span><span class="reply">Hi Mom <span style="font-size: 11px">👋</span></li>
          <li><span class="answer">2 — You used to know me and want to know how I’m doing</span><span class="reply">Living the good life <span style="font-size: 11px">🤙</span></span></li>
          <li><span class="answer">3 — You don’t know me and want to know more about me</span><span class="reply">Nice to meet you.</span></li>
          </ul>
        </div>

        <div class="main-content-home-text">
          {{ content }}
        </div>
      </div>
  </body>
</html>
