<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="ilse, l&#246;bker, lobker, loebker">
    <meta name="description" content="Een 28-jarige jongedame schrijft over haar leven.">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  </head>
  <body>
    <div id="container">
      <div id="navigation">
        <div class="navigation--previous">
          <a href="{{ page.previous-page-url }}">{{ page.previous-page-title }}</a>
        </div>
        <div class="navigation--next">
          <a href="{{ page.next-page-url }}">{{ page.next-page-title }}</a>
        </div>
      </div>

      <h1 class="page--title">{{ page.title }}</h1>
      <p class="introduction">{{ page.intro}}</p>

      <div class="content--overview">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>
  </body>
</html>
